@mixin rounded_corner{
	-webkit-border-radius: $round;
	border-radius: $round;
}

@mixin standard_pad{
	padding: 1%;
}
@mixin margin_reset{
	margin: 0;
	padding: 0;
}
@mixin center_image{
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: 50% 50%;
}