@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

$bg-color: white;
$section-color: #F2CAA7;
$accent-pink: #D9B391;
$accent-yellow: #F2EEB3;
$accent-blue: #011126;
$accent-grey: #595959;
$basefont: 'Raleway', sans-serif;
$headfont: 'Oswald', sans-serif;

$round: 10px;