@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

$basefont: 'Raleway', sans-serif;
$headfont: 'Oswald', sans-serif;
$dark_grey: #545454;
$reg_grey: #A6A6A6;
$light_grey: #EEEEEE;
$round: 5px;